<style>
    .container {
        width: 800px;
    }
</style>

<div class="container">
    <span>
        Oi, {{name}}
    </span>

    <br>

    <span>Você solicitou aalteração de senha.</span>
    <span>Para realizar a trca, clique no link
    <a href={{link}}></a></span>

    <span>Caso não tenha sido você, apenas ignore.</span>

</div>